*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background: linear-gradient(125deg,rgba(111, 4, 250, 0.5),rgba(255, 4, 180, 0.5)50%);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.container{
    width: 400px;
    padding: 12px;
    margin: 100px auto;
    border: 4px solid black;
    background-color: rgba(93, 97, 98, 0.998);
    border-style: outset;
    border-radius: 10px ;
}
h1{
    text-align: center;
    color: rgb(189, 189, 189);
}
#display{
    font-size: xx-large;
    display: block;
    width: 95%;
    height: 2em;
    margin: 10px;
    padding: 0 10px;
    outline: none;
    border-radius: 10px;
    color: rgb(39, 38, 38);
    font-family: Georgia, Times, 'Times New Roman', serif;
}
/* #display:focus {
    background: linear-gradient(125deg,rgb(185, 138, 248),rgb(238, 131, 206));
} */
table{
    width: 100%;
}
td{
    width: 25%;
    height: 60px;
}
td button{
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    height: 100%;
    width: 100%;
    transition: 200ms;
}
button:hover{
    background-color:rgba(185, 192, 193, 0.998);
    transform: scale(0.98);
}